<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本機"https://localhost:44335/api" WebServer"http://13.76.178.165/chisuwebapi/api"-->
    <add key="WebapiUrl" value="http://13.76.178.165/chisuwebapi/api"/> 
    
    <!--0:讀取資料庫 , 1:讀取config設定-->
    <add key="SensorListSource" value='0'/>
    
    <!--格式為{"id":stores_sensor.id,"sensor_id":stores_sensor.sensor_id,"title":stores_sensor.title}-->
    <add key="VisibaleSensors" value='[{"id":55,"sensor_id":"T1","title":"溫度1"},{"id":56,"sensor_id":"T2","title":"溫度2"},{"id":202,"sensor_id":"score","title":"健康分數"}]'/>
  </appSettings>
</configuration>